<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Service.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>14E2683E1F0396DA00532B41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14E268541F0396DA00532B41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14E2685F1F0396DA00532B41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
